* {
  box-sizing: border-box;
}

body {
  background-color: #c7a008;
  margin: 0;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  height: 20vh;
  padding-top: 15px;
}

.main-content {
  min-height: 80vh;
}
